* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
}

body {
  background-color: #fff;
  padding: 0%;
  margin: 0;
  height: 100%;
}

header {
  background-color: #1976d2;
  color: #fff;
  padding: 10px;
  text-align: center;


  left: 0%;
  width: 100%;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-links {
  display: flex;
  align-items: center;
}

.right-links {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-right: 0;
}

.auth-links {
  display: flex;
}

.auth-links li {
  margin-right: 10px;
  list-style-type: none;
}

.auth-links a,
.logOutbtn {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2em;
  padding: 9px 14px;
  border-radius: 5px;
  background-color: #050505;
  cursor: pointer;
  margin-right: 10px;
}


nav {
  margin-left: 30px;
  display: flex;
}


nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
}

.login a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2em;
}

.logo {
  font-size: 1.7em;
  font-weight: bold;
}

nav .left-links {
  display: flex;
  list-style-type: none;
}

nav li {
  margin-right: 20px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
}

.container {
  display: flex;
}

.box-column {
  flex: 1;
  border: 0.3px solid #707070;
  margin: 10px;
  padding: 10px;
  min-height: 200px;
  border-radius: 7px;
  background-color: #cbd8ed;
}


.box-header {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 10px;
}

.box-header span {
  margin-left: 5px;
  background-color: #fff;
  padding: 3px 6px;
  border-radius: 4px;
  color: #000000;
  display: flex;
}

.box-header i {
  margin-right: 5px;
  color: #000000;
  cursor: pointer;
  font-size: 16px;
}

.box {
  background-color: #fff;
  padding: 7px 20px;
  border-radius: 10px;
  height: 142px;
  cursor: pointer;
  margin: 15px 5px;
  transition: all 0.2s;
  cursor: grab;
  border: 1px solid #ddd;

}

.box:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.23);
}

.box p {
  margin: 2px 0 15px;
  font-size: 14px;
  font-weight: 400;
}

.tag {
  padding: 5px 8px;
  font-size: 13px;
  font-weight: bold;
  color: #040404;
  line-height: 50px;
  border-radius: 4px;
}

#red {
  background-color: #f44336;
}

#green {
  background-color: #4caf50;
}

#yellow {
  background-color: #fbc02d;
}

.box-footer {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  color: #757575;
}

.comment {
  display: flex;
  align-items: center;
}

.box-footer i {
  margin-right: 5px;
}

.date {
  display: flex;
}

footer {
  background-color: #1976d2;
  color: #fff;
  padding: 30px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0%;
  width: 100%;
}


/* Style for all task details */
span {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.task-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.task-description {
  font-size: 18px;
  color: #666;
}

.task-deadline {
  font-size: 18px;
  color: #333;
}


.task-created {
  font-size: 15px;
  color: #999;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .box-column {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
  }


  .header,
  .footer {
    padding: 5px;
  }

  .logo,
  .auth-links a,
  .logOutbtn,
  nav a {
    font-size: 1em;
  }

  .box {
    padding: 5px 10px;
  }

  nav {
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .box-column {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
  }

  .header,
  .footer {
    padding: 5px;
  }



  .logo,
  .auth-links a,
  .logOutbtn,
  nav a {
    font-size: 0.9em;
  }

  .box {
    background-color: #fff;
    border-radius: 10px;
    height: 142px;
    cursor: pointer;
    margin: 15px 5px;
    transition: all 0.2s;
    cursor: grab;
    border: 1px solid #ddd;
    padding: 5px 10px;
  }


  footer {
    position: none;
  }
}